body.dark {
  --primary: #ffb3ae;
  --on-primary: #68000c;
  --primary-container: #930015;
  --on-primary-container: #ffdad7;
  --secondary: #e7bdb9;
  --on-secondary: #442928;
  --secondary-container: #5d3f3d;
  --on-secondary-container: #ffdad7;
  --tertiary: #e2c28c;
  --on-tertiary: #402d04;
  --tertiary-container: #594319;
  --on-tertiary-container: #ffdea7;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffb4ab;
  --background: #201a1a;
  --on-background: #ede0de;
  --surface: #181211;
  --on-surface: #ede0de;
  --surface-variant: #534342;
  --on-surface-variant: #d8c2c0;
  --outline: #a08c8b;
  --outline-variant: #534342;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #ede0de;
  --inverse-on-surface: #362f2e;
  --inverse-primary: #bc1223;
  --surface-dim: #181211;
  --surface-bright: #3f3737;
  --surface-container-lowest: #120d0c;
  --surface-container-low: #201a1a;
  --surface-container: #251e1e;
  --surface-container-high: #2f2828;
  --surface-container-highest: #3a3332;
}
