@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/settings/globals.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/settings/light.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/settings/dark.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/settings/fonts.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/reset.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/theme.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/alignments.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/colors.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/directions.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/elevates.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/forms.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/margins.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/opacities.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/paddings.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/positions.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/scrolls.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/sizes.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/spaces.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/responsive.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/typography.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/waves.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/badges.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/buttons.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/cards.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/chips.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/containers.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/dialogs.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/dividers.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/expansions.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/fields.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/grids.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/icons.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/layouts.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/media.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/menus.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/navigations.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/overlays.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/pages.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/progress.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/selections.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/sliders.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/snackbars.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/tables.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/tabs.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/tooltips.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/blurs.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/shadows.css";

:root {
  --online: hsl(153, calc(1 * 46%), 49%);
  --idle: rgb(240, 178, 50);
  --dnd: rgb(242, 63, 67);
  --offline: rgb(128, 132, 142);
}

:root {
  --font: sans-serif !important;
}
