@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/settings/globals.min.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/settings/dark.min.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/reset.min.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/theme.min.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/alignments.min.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/forms.min.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/paddings.min.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/positions.min.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/responsive.min.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/typography.min.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/helpers/waves.min.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/buttons.min.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/cards.min.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/containers.min.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/icons.min.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/layouts.min.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/media.min.css";
@import "https://cdn.jsdelivr.net/npm/beercss/src/cdn/elements/navigations.min.css";

:root {
  --primary: #b5c4ff;
  --on-primary: #052978;
  --primary-container: #264190;
  --on-primary-container: #dce1ff;
  --secondary: #c1c5dd;
  --on-secondary: #2b3042;
  --secondary-container: #414659;
  --on-secondary-container: #dee1f9;
  --tertiary: #e3badb;
  --on-tertiary: #432740;
  --tertiary-container: #5b3d57;
  --on-tertiary-container: #ffd7f6;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffb4ab;
  --background: #1b1b1f;
  --on-background: #e4e2e6;
  --surface: #131316;
  --on-surface: #e4e2e6;
  --surface-variant: #45464f;
  --on-surface-variant: #c6c6d0;
  --outline: #8f909a;
  --outline-variant: #45464f;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #e4e2e6;
  --inverse-on-surface: #303034;
  --inverse-primary: #415aa9;
  --surface-dim: #131316;
  --surface-bright: #39393c;
  --surface-container-lowest: #0d0e11;
  --surface-container-low: #1b1b1f;
  --surface-container: #1f1f23;
  --surface-container-high: #292a2d;
  --surface-container-highest: #343438;
}

svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
